{% extends "base.html" %}
{% block title %}Joke Details{% endblock %}
{% block head %}
    {{ super() }}
    <style>
      body {
          min-height: 75rem;
          padding-top: 4.5rem;
      }
  </style>
{% endblock %}
{% block content %}
  <h1>{{ joke.id }}</h1> 
  <div class="row">
      <div class="col-md-2 fw-bold">Joke Type:</div>
      <div class="col">{{ joke.type }}</div>
  </div>
  <div class="row">
      <div class="col-md-2 fw-bold">Joke Setup:</div>
      <div class="col">{{ joke.setup }}</div>                
  </div>
  <div class="row">
    <div class="col-md-2 fw-bold">Joke Punchline:</div>
    <div class="col">{{ joke.punchline }}</div>                
  </div>
  <div class="row">
    <div class="col-md-2 fw-bold">Joke Fetch Date:</div>
    <div class="col">{{ joke.fetchDate }}</div>                
  </div>

{% endblock %}
